html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.label-wrap {
    display: flex;
}

.display-none {
    display: none;
    border-style: none;
    border-block: none;
}

.display-contents {
    display: contents;
    border-style: solid;
    border-width: 2px;
    border-block-color: black;
    border-color: black;
    border-block-style: solid;
    border-block-width: 2px;
    width: auto;
}

.show-button {
    visibility: visible;
}

.hide-button {
    visibility: hidden;
}

.closed-out {
    background-color: yellow;
}

.selected {
    background-color:greenyellow;
}

.conflict {
    background-color:lightsalmon;
}
