 @*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
   <div style="border:solid; width:500px; height:700px; margin-left:20px;">
        <table style="width:450px; margin-left:20px">
            <tr>
                <td style="text-align:center">
                    FILE MAINTENANCE
                </td>
            </tr>
            <tr>
                <td>
                    Class Rooms
                    <a class="nav-link text-dark" style="text-decoration:underline;" asp-area="" asp-controller="ClassRoomMVC" asp-action="Index">
                        <h5>Class Room</h5>
                    </a>

                </td>
            </tr>
            <tr>
                <td>
                    <a class="nav-link text-dark" style="text-decoration:underline;" asp-area="" asp-controller="CourseMVC" asp-action="Index">
                        <h5>Course</h5>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a class="nav-link text-dark" style="text-decoration:underline;" asp-area="" asp-controller="InstructorMVC" asp-action="Index">
                        <h5>Instructors</h5>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a class="nav-link text-dark" style="text-decoration:underline;" asp-area="" asp-controller="StudentMVC" asp-action="Index">
                        <h5>Students</h5>
                    </a>
                </td>
            </tr>
        </table>
   </div>
}
